@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@700&family=Noto+Sans+TC:wght@400;500;700&display=swap');

$ff_bt: 'Baloo Tamma 2';
$ff_ns: 'Noto Sans TC';

$regular: 400;
$bold: 700;
$medium: 500;

$color_main: #FFD370;
$color_black: #333333;
$color_gray: #9F9A91;
