@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@700&family=Noto+Sans+TC:wght@400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.img {
  max-width: 100%;
  height: auto;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 850px;
  background: no-repeat linear-gradient(174deg, #FFD370 2%, #FFD370 46%, #FFFFFF 46%, #FFFFFF 100%, #E8E8E8 100%);
}

.container {
  width: 500px;
  margin: 0 auto;
}

@media (max-width: 568px) {
  .container {
    width: 95%;
  }
}

h1 {
  font-family: "Baloo Tamma 2";
  font-weight: 700;
  font-size: 48px;
  color: #333333;
  letter-spacing: 8.75px;
  text-align: center;
  margin: 48px 0 26px;
}

.input {
  position: relative;
  margin-bottom: 8px;
}

.txt {
  width: 100%;
  height: 48px;
  background: white;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  padding: 12px 0 12px 24px;
  border: none;
  border-radius: 10px;
}

.add {
  width: 40px;
  height: 40px;
  font-size: 32px;
  font-family: "Noto Sans TC";
  font-weight: 500;
  line-height: 20px;
  color: white;
  background: #333333;
  border-radius: 10px;
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
}

.output {
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: white;
  display: none;
}

.btn-filter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-filter input {
  border-radius: 10px 10px 0 0;
  width: 33.3%;
  height: 50px;
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-size: 14px;
  border: none;
  background-color: white;
  color: #9F9A91;
  border-bottom: 1px #9F9A91 solid;
  letter-spacing: 0.7px;
}

.btn-filter input:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.15);
}

.btn-filter .focus {
  color: #333333;
  border-bottom: 1px #333333 solid;
  font-weight: 700;
}

.list {
  font-family: "Noto Sans TC";
  font-weight: 400;
  padding: 24px 18px 0 24px;
  color: #333333;
  letter-spacing: 0.62px;
}

.list li {
  margin-bottom: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.list li input {
  display: none;
}

.list li label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.list li label::after {
  content: "";
  position: absolute;
  right: 0;
  left: 35px;
  height: 1px;
  background: black;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.list li span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #333333;
  border-radius: 5px;
  margin-right: 16px;
}

.list li input:checked + label {
  opacity: .3;
}

.list li input:checked + label::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.list li input:checked + label span {
  border: none;
}

.list li input:checked + label span::after {
  content: "✔";
  color: #d69400;
}

.list li img {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 16px;
  display: none;
  cursor: pointer;
}

.list li:hover img {
  display: inline-block;
}

@media (max-width: 568px) {
  .list {
    padding: 18.5px 18px 0 16px;
  }
  .list img {
    width: 12px;
    height: 12px;
  }
}

.foo {
  font-size: 14px;
  font-family: "Noto Sans TC";
  font-weight: 400;
  letter-spacing: 0.7px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 48px 16px 24px;
}

.foo .clear {
  background-color: white;
  color: #9F9A91;
  border: none;
  cursor: pointer;
}

.foo .clear:hover {
  color: #333333;
}
/*# sourceMappingURL=all.css.map */